pandas==3.0.5
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
pytest==9.1.1
python-dateutil==2.9.0.post0
readme_renderer==45.0
requests==2.34.2
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==15.0.0
SecretStorage==3.5.0
six==1.17.0
twine==7.0.0
urllib3==2.7.0
